/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans&display=swap');


/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: #08192f;
  overflow-x: hidden;
  font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.divider {
  width: 5rem;
  height: 4px;
  background-color: #db2777;
  display: block;
}

nav {
  margin-bottom: 2em;
}

nav .navbar-brand {
  font-family: 'Dancing Script', cursive;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  min-height: 85vh;
}

main.display-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.home {
  padding: 0 20px;
}

main .name-intro {
  color: #db2777;
  font-weight: 100;
  font-size: 1rem;
}

main .profile-name {
  font-size: 36px;
  line-height: 40px;
  font-weight: 900;
  margin-bottom: 0;
  color: #ccd6f6;
  letter-spacing: 2px;
}

main .profile-stack {
  color: #8892b8;
  font-size: 36px;
  line-height: 40px;
  margin-top: 0;
}

main .profile-intro {
  font-size: 1rem;
  color: #8892b8;
  padding: 1rem 0;
  max-width: 580px;
}

main .btn-project {
  border: 1px solid;
  color: #fff;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .btn-project:hover {
  color: #db2777;
}

/* About */

main .about-intro {
  font-size: 2rem;
}

/* Skills */

main .skills-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  gap: 10px;
}

main .skill-card {
  box-shadow: 0px 0px 10px #040C16;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

/* projects */

main.projects .card {
  box-shadow: 0 0 10px #040C16;
}

main.projects .project-link {
  text-decoration: none;
  color: inherit;
}

footer {
  min-height: 50px;
}

footer .container {
  border-top: 1px solid #122c4b;
}

/* Responsive */

@media screen and (min-width: 768px) {

  main .name-intro {
    font-size: 1.4rem;
  }

  main .profile-name {
    font-size: 72px;
    line-height: 1;
  }
  main .profile-stack {
    font-size: 72px;
    line-height: 1;
  }

  main .skills-card {
    grid-template-columns: repeat(4, 1fr);
  }
}